extends layout

block content
  h1= title
  form.form-inline(method='GET', action='', role='form')
    div.form-group
      input#search.form-control(type='text' placeholder='Please enter a word to search' name='q' value=(undefined===q ? '' : q))
    button.btn.btn-success.search_btn(type='submit' style='margin-left:10px') Search
      
  ul
    each book in books
      li 
        a(href=book.url) #{book.title} 
        | (#{book.author.name})

    else
      li There are no such books.

  ul.pagination
    - for(let i=0; i<pages; i++)
      li(class=(i+1==page?'active':''))
        a(href=page_url+(i+1))= i+1
