extends layout

block content

  h1 User: #{user.username}
  p Email: #{user.email}
  p Mobile: #{user.mobile}
  p Location: #{user.location}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Roles
    ul
      each role in user.roles
        li= role
      else
        p This user has no roles.
      
  hr
  p
    a(href=user.url+'/update') Update user
  p
    a(href=user.url+'/updaterole') Update role
  p
    a(href=user.url+'/delete') Delete user