extends layout

block content

  h1 User: #{user.username}
  p Email: #{user.email}
  p Mobile: #{user.mobile}
  p Location: #{user.location}
  p Avatar: 
    if user.avatar
      img(src=user.avatar height='100px' width='70px')
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Roles
    ul
      each role in user.roles
        li= role
      else
        p This user has no roles.
        
    h4 Groups
    ul
      each group in user.groups
        li= group.name
      else
        p This user has no groups.  
  hr
  p
    a(href=user.url+'/update') Update user
  p
    a(href=user.url+'/updaterole') Update roles & groups
  p
    a(href=user.url+'/delete') Delete user